In [ ]:
#| default_exp build_item_db

In [ ]:
%reload_ext autoreload
%autoreload 2

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
# %matplotlib inline

# Build Item Db 

> Build monthly catalog and item databases

In [ ]:
#| exporti
import sqlite3 as sql
import ntlights_damage_assessment.explore_ntlights_stac as ntls

In [ ]:
#| export
DATA_DB_DIR = '../data/sqlite'
DB = f'{DATA_DB_DIR}/db.db'

In [ ]:
#| hide
#| eval: false
!mkdir -p ../data/sqlite

In [ ]:
#| hide
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth',120)

## Write kids from VIIRS npp catalog as db

In [ ]:
kids_df = ntls.make_kids_df()

In [ ]:
conn = sql.connect(DB)

In [ ]:
#| eval: false
kids_df.to_sql('monthly_catalog', conn)

105

In [ ]:
kids_df.head()

,rel,href,type
0,child,https://globalnightlight.s3.amazonaws.com/201204/201204_catalog.json,application/json
1,child,https://globalnightlight.s3.amazonaws.com/201205/201205_catalog.json,application/json
2,child,https://globalnightlight.s3.amazonaws.com/201206/201206_catalog.json,application/json
3,child,https://globalnightlight.s3.amazonaws.com/201207/201207_catalog.json,application/json
4,child,https://globalnightlight.s3.amazonaws.com/201208/201208_catalog.json,application/json